@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/flowbite.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
body {
  font-size: 15pt;
  padding-top: 100px;
  margin: 30px;
  margin-top: 0px;

}

#head_title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
}

#profile_button {
  font-family: 'Times New Roman', Times, serif;
}

.bi-facebook {
  font-size: 20pt;
  color: white;
}


#parentGrid {
  /*parent*/
  columns: 3;
  column-fill: balance;
  column-span: all;
  column-gap: 8px;
}

.grid_photo {
  /*child*/
  margin-bottom: 8px;
}